

.login-box{
    margin-top: 10% !important;
}

.card {
    background-color: #374447 !important;
}

.login-btn:hover{
    background-color: #505050 !important;
}

.login-btn{
    background-color: #303030 !important;
    
    border: 2px solid transparent;
}
